# Jupyter and Python
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.DS_Store
*.swp
*.swo

# Environment files
.env
*.env

# VSCode and IDE folders
.vscode/
.idea/

# Large data files and folders
data/raw/
data/interim/
data/processed/
*.csv
*.json
*.nc
*.h5
*.hdf5
*.zip
*.tar.gz
*.pkl

# OS-specific
Thumbs.db
ehthumbs.db
desktop.ini

# Backup files
*~
*.bak
*.tmp
